
<div class="event-list">
  <div class="event-container" *ngFor="let r of reports$ | async" (click)="onReportClick(r.location)">
    <div>
      <span class="time-container">{{ r.createdAt | date: "yyyy-MM-dd (hh:mm a)"}}</span>
      <button type="button" class="btn-close" (click)="onDelete(r._id)"></button>
    </div>
    <div>
      <span class="title-container">{{ r.title }}</span>
      <a (click)="onSourceClick(r._id)">Source</a>
    </div>
    <div class="image-container">
      <img [src]="r.image_url" alt="Event Image" />
    </div>
    <div class="status-container" (click)="onStatusChange(r._id)">{{ r.status }}</div>

    <a [routerLink]="'reports/' + r._id">MORE INFO</a>
  </div>
</div>

<div class="modal text-center show" tabindex="-1" id="reportModal" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="onModalClose()"></button>
      </div>
      <div class="modal-body">
        <!-- <app-report id="clickedReport" /> -->
      </div>
    </div>
  </div>
</div>
