.navbar-nav{
    height: 10vh;
    width: 100vw;
    display: flex;
    flex-direction: row; 
}

.nav-item {
    text-decoration: none;
    font-family: 'Museo Sans Cyrl 900',Helvetica,Arial,sans-serif;
    font-size: 15px;
    /* padding: 9px 10px 8px; */
    border-radius: 4px;
    outline: 0;
    cursor: pointer;
    margin: 0 2em 0 2em;
    display: inline-block;
    font-weight: bold;
}