<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-end">
  <a class="nav-item" href="home">
    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
    Home
  </a>
  <a class="nav-item" href="add-report">
    <mat-icon>add</mat-icon>
    Create
  </a>
  <div *ngIf="!this.as.isLoggedIn(); else loggedIn">
    <a class="nav-item" href="login">
      <mat-icon>login</mat-icon>
      Login
    </a>
  </div>
  <ng-template #loggedIn>
    <a class="nav-item" [matMenuTriggerFor]="profileMenu">
      <mat-icon>account_circle</mat-icon>
      Account
    </a>
    <mat-menu #profileMenu>
      <button mat-menu-item (click)="navigateToProfile()">
        <span>View My Post</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </ng-template>
</nav>