.form-group {
    width: 25vw;
    margin-left: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 2em;
}

select {
    width: 100%;
}

.add-report-container {
    width: 100vw; 
    height: 90vh;
    display: flex;
    flex-direction: row; 
}

#map {
    height: 90vh;
    width: 75vw; 
}

.btn-outline-primary {
    width: 25vw;
    margin: 1em;
}
